export default {
    //no trailing "/"
    "apiBaseUrl": "<URL to your tenant>", 
    "authenticationUrl": "<URL to your authentication service>",
    "clientId": "<Your client id>",
    "clientSecret": "<Your client secret>",
}